<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini AI Chatbot</title>
    <link rel="stylesheet" href="styles2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to server');
        });

        socket.on('disconnect', function () {
            console.log('Disconnected from server');
        });

        socket.on('continuous_data', function (data) {
            console.log('Received continuous data:', data.data);

            // Append the received data to the existing content
            var resultDiv = document.getElementById('result');
            resultDiv.innerText += data.data + ' ';
        });

        function requestData() {
            document.getElementById('result').innerText = '';
            var question = document.getElementById('question').value;

            // Emit the 'request_data' event along with the user's question
            socket.emit('request_data', { 'question': question });
        }

        function clearData() {
            // Clear the question input and result area
            document.getElementById('question').value = '';
            document.getElementById('result').innerText = '';
        }

    </script>
</head>

<body>
    <div class="chatbot-container">
        <div id="header">
            <h1>GEMINI AI CHATBOT</h1>
        </div>

        <div id="chatbot">
            <div id="conversation">
                <div class="chatbot-message">
                    <p class="chatbot-text">Hi! 👋 it's great to see you!</p>
                </div>
            </div>
            <form id="input-form">
                <message-container>
                    <div class="form-group">
                        <label for="question">Enter your question:</label>
                        <input type="text" id="question" placeholder="What is the meaning of life?">
                    </div>
                    <button class="button" onclick="requestData()">Send</button>
                    <button class="button" onclick="clearData()">Clear</button>
                    <div id="result" class="result"></div>
                </message-container>
            </form>
        </div>
</body>

</html>